// Place all the styles related to the bus_stops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart rect {
  fill: steelblue; /* svg for color */
}

.bar text {
  font: 10px sans-serif;
  text-anchor: end;
  
}

.axis text {
  font: 10px sans-serif;
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

/* .rotate, .x .tick text {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  Internet Explorer
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
} */

.axis .axis-label {
  text-anchor: end;
}
